body {
    background-image: linear-gradient(rgba(62, 20, 20, 0.4), rgba(62, 20, 20, 0.4));
    background-size: cover;
    background-position: center;
    font-family: 'Casino';
    font-weight: 300;
    position: relative;
    height: 100vh;
    color: rgb(23, 189, 31);
}

.wrapper {
    width: 1000px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    box-shadow: 0px 10px 50px rgba(0, 0, 0, 0.3);
    overflow: hidden;
}

* {
    padding: 0;
    box-sizing: border-box;
    text-align: center;
}

.player-0-panel {
    width: 40%;
    float: right;
    height: 600px;
    padding: 20px;
}

.player-name {
    font-size: 30px;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 100;
    margin-top: 20px;
    margin-bottom: 150px;
}

.player-hand {
    display: inline-block;    
}

img {
	width: 90px;
    height: 130px;
    margin: -15px;
}
