<p>
  room works!
</p>
<div>
    <a routerLink="/multigame" 
      routerLinkActive="active">
      Back to multigame
    </a>
</div>
<button (click)="addBot()">AddBot</button>
  
<div class="wrapper clearfix">
  <div *ngIf="room && room?.players">
    <div *ngFor="let player of players">
      <div class="player-0-panel ">
          <div class="player-name">
            {{ user.userName }}
          </div>
          
          <div *ngFor="let card of playerHand" 
              class="player-hand">
            <img [src]="card.imageSource"/>
          </div> 
        </div>   
  </div>	
</div>
