<p>
  multigame works!
</p>
<div>
	<a routerLink="../menu" 
		routerLinkActive="active">
		Back to menu
	</a>
	<br><br>
	
	
	<label>
		Number of players:
		<input type="number" [(ngModel)]="this.room.maxPlayers">
		<button (click)="addMultiRoom()">Add New Room</button>
	</label>
	<br>
		<div>
		<div *ngFor="let room of rooms">
			<br>
			<span>
			<img (click)="enterRoom(room)"
			src="../assets/blackjack-table.jpg" 
		   />
			</span>
			<div>
			<p>Room is open for {{ room.maxPlayers }} players</p>
			<button (click)="deleteRoom(room.id)">Delete Room</button>
			</div>
		</div>
	</div>

</div>